{% extends "layout.html" %}
{% block content %}
    <h2>Service Information</h2>

    <h3>enter info <a href="{{ url_for('info') }}">here</a></h3>
    <h3>Previous Entries</h3>
    {% for entry in entries %}
        <p class=entry>
        <br>Name: {{ entry.name }}<br>
        <br>Description: {{ entry.description }}<br>
        <br>Street Address: {{ entry.streetAddress}}<br>
        <br>Type Of Service: {{ entry.typesOfService }}<br>
        <br>Phone Number: {{ entry.phoneNumber}}<br>
        <br>Hours Of Operation: {{ entry.hoursOfOperation }}<br>
	    <br>Reviews: {{ entry.reviews }}<br>
        </p>
    {% endfor %}

{% endblock %}
