{% extends "layout.html" %}
{% block content %}
    <h2>Service Information</h2>

    <h3>enter info <a href="{{ url_for('info') }}">here</a></h3>
    <h3>Previous Entries</h3>
    {% for entry in entries %}
        <p class=entry>
        <br>{{ entry.name }}<br>
        <br>{{ entry.description }}<br>
        <br>{{ entry.streetAddress}}<br>
        <br>{{ entry.typesOfService }}<br>
        <br>{{ entry.phoneNumber}}<br>
        <br>{{ entry.hoursOfOperation }}<br>
	    <br>{{ entry.reviews }}<br>
        </p>
    {% endfor %}

{% endblock %}
